#skills {
    padding: 2rem;
}

.skills-heading{
    font-size: xx-large;
    text-align: center;
    color: #ffcc00;
    padding: 2rem;
}
  
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
  
.skill-card {
    padding: 1rem;
    border-radius: 1rem;
    width: 7rem;
    text-align:left;
    box-shadow: 0 0 15px rgba(203, 182, 182, 0.1);
}

.skill-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.skill-title{
    margin-bottom: 0.2rem;
}

.hidden {
    opacity: 0;
    transform: translateX(0);
  }
  
  /* Slide in from left */
  @keyframes slideLeft {
    from {
      opacity: 0;
      transform: translateX(-60px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Slide in from right */
  @keyframes slideRight {
    from {
      opacity: 0;
      transform: translateX(60px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .slide-in-left {
    animation: slideLeft 0.6s ease-out forwards;
  }
  
  .slide-in-right {
    animation: slideRight 0.6s ease-out forwards;
  }
  
