:root {
    --primary-color: #ffcc00;
    --bg-color: #121212;
    --text-color: #ffffff;
}

#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.profile {
    position: absolute;
    top: 0;
    right: -5rem;
    z-index: -1;
    object-fit: cover;
    height: 88.5vh;
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: var(--primary-color);
}

.introPara {
    font-size: medium;
    font-weight: 300;
}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    font-size: large;
    max-width: 9rem;
    color: black;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

@media screen and (max-width:840px) {
    .profile {
        right: -10vw
    }
    .introContent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5vw;
    }
    .typingTextContainer{
        height: 7rem !important;;
    }
}

@media screen and (max-width:480px) {
    .profile {
        right: -20vw
    }
    .introContent {
        font-size: 8vw;
    }
    .hello {
        font-size: 4.5vw;
    }
}

.typingTextContainer  {
    height: 9rem;
    color: var(--text-color);
    white-space: pre-wrap;
    animation: blink 0.8s infinite;
    position: relative;
}